<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>AngularJS Form with Real-Time Updates</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script>
    angular.module('myApp', [])
      .controller('myCtrl', function($scope) {
        $scope.user = {
          firstName: '',
          lastName: '',
          fullName: ''
        };
        
        $scope.updateFullName = function() {
          $scope.user.fullName = $scope.user.firstName + ' ' + $scope.user.lastName;
        };
      });
  </script>
</head>
<body ng-controller="myCtrl">
  <h1>AngularJS Form with Real-Time Updates</h1>
  
  <form>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" ng-model="user.firstName" ng-change="updateFullName()">
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" ng-model="user.lastName" ng-change="updateFullName()">
  </form>
  
  <p>Full Name: {{ user.fullName }}</p>
</body>
</html>
